/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Responsive images */
img{
  max-width:100%;
  height:auto;
}

/* ---------------Utility Classas----------------- */
.container{
  width:80vw;
  margin:40px auto;
  max-width:1000px;
   color: #fff;
}

/* ---------------Global Styles----------------- */
body {
 font-family: 'New Tegomin', serif;
 background-color:#94C523;
 margin:0;
}

header.primary{
background-color: #F5B84C;
background-image: url("");
 text-align: center;
 color:#13914C ;

  /* Longform */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:60px;
  padding-left:40px;
  /* Shorthand */
  padding: 40px 40px 60px 40px;
  text-shadow: 2px 2px #000;

}

header.primary h1{
  color:#50226D;
  font-size: 3.5em;
  margin:20px 0;
}
/* putting a image as the header using css*/
header.primary h1 a{
  color:#fff;
  text-decoration:none;
}

header.primary h2{
  font-size:2em;
  /* Top / Left & Right / Bottom */
  margin: 20px auto 40px;
}

header.primary nav{
  width:80vw;
  margin:20px auto;
  max-width:1000px;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  padding:0;
}

header.primary nav li {
list-style-type:none;
}

header.primary nav a:link, header.primary nav a:visited{
  color:#fff;
  text-decoration:none;
  background-color:#FFCC70;
  background-color:rgba(0,0,0,.4);
  display:block;
  padding: 8px 16px;
  border-radius:20px;
  transition:.6s;
}

header.primary nav a:hover, header.primary nav a:ative{
  background-color:rgba(0,0,0,.8);
}

#intro{
  padding-bottom:1.5em;
}

#intro h2{
  color: #551A7A;
}

#intro p{
  line-height:1.5em;
  color:#fff;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  border-bottom: 5px groove #F2A663;
  padding-bottom: 2.5em;
}

#content article.post{
  width:35vw;
  box-shadow: 0 4px 5px rgba(0,0,0,.4);
  padding:10px;
  border-radius:8px;
  font-size:.8rem;
  transition:.6s;
  color:#F2A663;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
}

#content article.post figure{
  margin:5px 0;
}

#content article.post a{
color:#13914C;
}

#content article.post a:hover{
text-decoration:none;
}

#content article.post p{
  font-size:.8em;
  color: #ffff;
}

#content article.post footer{
  font-size:.8em;
  color: #fff;
}

aside {
  background-color:#ad950a;
  color:#fff;
  padding:40px;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

aside article{
  width:35vw;
}

aside a:link, aside a:visited{
  color:#fff;
  display:block;
  margin-top:20px;
  letter-spacing:1.5px;
}

aside a:hover{
  text-decoration:none;
}

aside footer{
  display:none;
}

#colophon{
   background-color:#3b638b;
   background-image: url("ADD IMG");
}

#colophon h6{
  padding:20px;
  margin:0;
  text-align:center;
  color:#fff;
  font-size:.8em;
  text-transform:uppercase;
}

#additional-elements h2{
  color:#172635;
  border-bottom:1px solid #c0c0c0;
}
#additional-elements a:link, #additional-elements a:visited{
  color:#3b6b8b;
}
#additional-elements a:hover, #additional-elements a:active{
  text-decoration:none;
}

#additional-elements h3{
  clear:both;
  border-left:5px solid #3b6b8b;
  padding:5px;
}

table{
  width:100%;
  border:2px solid #c0c0c0;
  border-collapse: collapse;
  margin-bottom:40px;
}

table caption{
  color:#3b638b;
  padding:20px;
  font-weight:bold;
  font-size: 1.5em;
}
table tr:nth-child(even){
  background:rgba(0,0,0,.1);
}

tr:hover{
  background:rgba(0,0,0,.2);
}
th{
  background:#3b638b;
  color:white;
  padding:10px;
}
td{
  border:1px solid #c0c0c0;
  padding:5px;
}

#additional-elements ol{
  list-style:lower-alpha;
}

#additional-elements ul li ul{
  list-style:square;
}

#additional-elements dt {
  font-weight:bold;
}

#additional-elements dd{
  margin-left:0px
}
/*Adjacent Sibling Combinator*/
dd + dt {
  margin-top:20px;
}

#additional-elements blockquote{
  margin: 40px;
  background:rgba(0,0,0,.15);
  padding:40px 60px;
  border-left:5px solid #3b6b8b;
  border-right:5px solid #3b6b8b;
  font-size:15px;
}

blockquote cite{
  display:block;
  font-size:10px;
  text-align:right;
  font-weight:bold;
  margin-top:20px;
}














@media screen and (max-width:680px){
  header.primary nav ul{
    flex-direction:column;
  }
  
  header.primary nav ul li{
    margin-bottom:20px;
  }
  
}





































